/*Work In Progress*/
body {
    width: 80%;
    background-color: #85adad;
    color: white;
    font-family:sans-serif;
    margin: 0 auto;
}
#border {
	border: 10px double;
}
.clear-fix:after {
    content:'';
    display:block;
    clear:both;
}
.one {
	width: 65%;
	height: 250px;
    background-color: #00061a;
    border-radius: 0px 30px 0px 0px;
    float: left;
}
.one:hover {
	width: 80%;
	height: 250px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.two {
    width: 65%;
    height: 250px;
	background-color: #000d33;
	border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
	top: -150px;
}
.two:hover {
	width: 80%;
	height: 250px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.three {
    width: 65%;
    height: 250px;
    background-color: #00134d;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -300px;
}.three:hover {
	width: 80%;
	height: 250px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.four {
    width: 65%;
    height: 250px;
    background-color: #001a66;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -450px;
}
.four:hover {
	width: 80%;
	height: 250px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.five {
    width: 65%;
    height: 250px;
    background-color:#002080;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -600px;
}
.five:hover {
	width: 80%;
	height: 250px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.six {
   width: 65%;
    height: 250px;
    background-color:#002699;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -750px;
}
.six:hover {
	width: 80%;
	height: 250px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.seven {
    width: 65%;
    height: 250px;
    background-color:#002db3;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -900px;
}
.seven:hover {
	width: 80%;
	height: 250px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.eight {
   width: 65%;
    height: 250px;
    background-color:#0033cc;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -1050px;
}
.eight:hover {
	width: 80%;
	height: 250px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.nine {
    width: 65%;
    height: 250px;
    background-color:#0039e6;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -1200px;
}
.nine:hover {
	width: 80%;
	height: 250px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.ten {
   width: 65%;
    height: 250px;
    background-color:#0033cc;/*fix color*/
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -1350px;
}
.ten:hover {
	width: 80%;
	height: 250px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.left {
    float: right;
    color: white;
	text-decoration: none;
    padding-right: 25px;
    padding-top:10px;
    font-size: 40px;
}
.right {
    float: left;
    color: white;
	text-decoration: none;
    padding-left: 25px;
    padding-top:10px;
    font-size: 40px;
}