/*Work In Progress*/
body {
    width: 80%;
    background-color: #85adad;
    color: white;
    font-family:sans-serif;
    margin: 0 auto;
}
.one {
    width: 768px;
    height: 300px;
    background-image:url(../index/img/turtle.png);
    border-radius: 0px 30px 0px 0px;
    float: left;
    z-index: 1;
}
.one:hover {
	width: 800px;
	height: 320px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.two {
    width: 768px;
    height: 300px;
	background-image: url(img/news.png);
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -200px;
    right: 100px;
    z-index: 2;
}
.two:hover {
	width: 800px;
	height: 320px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.three {
    width: 768px;
    height: 300px;
    background-color: orange;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -400px;
    z-index: 3;
}
.three:hover {
	width: 800px;
	height: 320px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.four {
    width: 768px;
    height: 300px;
    background-color: darkred;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -600px;
    right: 100px;
    z-index: 4;
}
.four:hover {
	width: 800px;
	height: 320px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.five {
    width: 768px;
    height: 300px;
    background-color:darkslategray;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -800px;
    z-index: 5;
}
.five:hover {
	width: 800px;
	height: 320px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.six {
   width: 768px;
    height: 300px;
    background-color:deeppink;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -1000px;
    right: 100px;
    z-index: 6; 
}
.six:hover {
	width: 800px;
	height: 320px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.seven {
    width: 768px;
    height: 300px;
    background-color:darkgoldenrod;
    border-radius: 0px 30px 0px 0px;
    float: left;
    position:relative;
    top: -1200px;
    z-index: 7;
}
.seven:hover {
	width: 800px;
	height: 320px;
	box-shadow: 5px -5px 5px 5px #262626;
}
.eight {
   width: 768px;
    height: 300px;
    background-color:greenyellow;
    border-radius: 30px 0px 0px 0px;
    float: right;
    position:relative;
    top: -1400px;
    right: 100px;
    z-index: 8; 
}
.eight:hover {
	width: 800px;
	height: 320px;
	box-shadow: -5px -5px 5px 5px #262626;
}
.left {
    float: right;
    color: white;
    padding-right: 25px;
    padding-top:10px;
    font-size: 40px;
}
.right {
    float: left;
    color: white;
    padding-left: 25px;
    padding-top:10px;
    font-size: 40px;
}