.hero {
  background-image: url('http://foundry.mediumra.re/img/wine14.jpg');
  background-size: cover;
	background-position: center;
}
h4 {
  color: #fff;
}
#david {
  color: #fff;
  font-family:sans-serif;
}
h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #818080;
}
h3 {
	font-style: italic;
}
