.hero {
  background-image: url('http://foundry.mediumra.re/img/wine14.jpg');
  background-size: cover;
  background-position: center;
}
h4 {
  color: #fff;
}
#david {
  color: #fff;
  font-family:sans-serif;
}
h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #818080;
}
h3 {
	font-style: italic;
}
h1 {
  color: #fff;
  font-style: italic;
  font-size:30px;
  margin: 60px 0px 20px;
}
h5 {
  color: #fff;
  line-height: 1.8;
}
.wine {
  font-style: italic;
  font-size: 20px;
  margin: 40px 0px;
}
h6 {
  font-style:italic;
  font-size: 20px;
  margin-bottom: 30px;
}
.power {
  height: 400px;
}
.washer {
  background-image: url('http://foundry.mediumra.re/img/wine16.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.visit {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  background-color: #4f961d;
  padding: 10px 20px;
}
.anti-hero {
  background-image: linear-gradient(to bottom, rgba(20,20,20,0.3) 0%, rgba(0,0,0,0.3) 30%), url('http://foundry.mediumra.re/img/wine13.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
}
