
/*.diamond {
  background-color:#00cc99;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    margin: 50px;
    border: 1px solid #00cc99;
    outline-color: #00cc99;
    outline-style: groove;
}
.text {
    position: relative;
    z-index: 1;
}*/