body {
    width: 850px;
    height: 1000px;
    font-family: Ariel, sans-serif;
}

header {
    background-color: #005ce6;
    color: white;
}

.nav-links {
    color: white;
}

.title1 {
    font-size: 14px;
}

#img1 {
    width: 393px;
    float: right;
}

#text1 {
    float: left;
    width: 450px
}

#head {
    font-size: 60px;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: -30px;
}

nav {
    font-size: 20px;
    padding-top: -30px;
}

.title1 {
    font-size: 25px;
}

.title2 {
    font-size: 20px;
}

.title3 {
    font-size: 23px;
}

#text2 {
    background-color: #f2f2f2;
    width: 4000px;
}

#img2 {
    float: left;
    width: 400px;
}

#aotf {
    font-size: 20px;
    vertical-align: middle;
    padding-top: 60px;
    padding-left: 405px;
}

#last {
    vertical-align: middle;
    padding-left: 405px;
}
