body {
	width: 1024px;
	margin: 0 auto;
}
main {
	background-image: url('../img/sub_header_home.jpg');
	background-size: cover;
	background-position: center;
	height: 320px;
}
main h3 {
	color: #fff;
	font-size: 50px; 
	font-weight: 200;
	padding: 100px 150px 15px;
}
main h6 {
	font-family: sans-serif;
	color: #fff;
	font-size: 17px;
	font-weight: 200;
	padding: 0px 290px;
}
footer .bottom {
	width: 225px;
	float: left;
	text-align: center;
	margin-top: 10px;
	margin-right: 35px;
}
.bottom:last-of-type {
	margin-right: -35px;
}
.bottom h5 {
	font-size: 17px;
	font-weight: 600;
	margin: 15px;
}
.bottom p {
	font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
	main {
		height: 420px;
	}
	main h3 {
		font-size: 70px;
		padding: 100px 25px 20px;
	}
	main h6 {
		font-size: 20px;
		padding: 0px 250px;
	}
	.right {
		clear: left;
	}
	.bottom {
		margin: 50px 170px;
	}
	img {
		width: 100px;
	}
	.bottom h5 {
		font-size: 20px
	}
	.bottom p {
		font-size: 13px;
	}
}
@media (max-width: 767px) {
	main {
		width: 740px;
		height: 700px;
	}
	main h3 {
		font-size: 70px;
		text-align: center;
		padding: 230px 70px 20px
	}
	main h6 {
		padding: 0px 145px;
	}
	.bottom {
		float: none;
		clear: left;
		margin: 30px 200px;
	}
	.bottom p {
		font-size: 15px;
	}
}