body {
    font-family: sans-serif
}
#background {
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: 800px;
    width: 800px;
    height: 220px;
    text-align: center;
    padding-top: 90px;
}
main p {
    color: white;
    font-size: 11px;
    margin-bottom: 5px;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    line-height: 2
}
h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}
#contact {
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    background-color: #B8DB48;
    border-radius: 1px;
}
aside {
    float: left;
}
#grow {
    background-image: url('../img/featured-image-3.jpg');
    background-repeat: no-repeat;
    background-size: 270px;
}
#plant {
    background-image:url('../img/featured-image-4.jpg');
    background-repeat: no-repeat;
    background-size: 270px;
}
.small-box {
    width: 200px;
    height: 80px;
    padding: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
section {
    background-image: url(../img/featured-image-5.jpg);
    background-repeat: no-repeat;
    background-size:580px;
    float: left;
    width: 480px;
    height: 220px;
    padding: 50px;
    padding-top: 100px;
}
.clear-fix:after {
    content:'';
    display: block;
    clear: both;
}
h2 {
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 600;
}
.small-box p {
    color: green;
}
h3 {
    color: #73e600;
    line-height: 3;
    font-size: 13px
}
section p {
    color: white;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 20px;
}
#more {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 15px;
    background-color: #595959;
    margin-right: 10px;
}
#our {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 13px;
    border: 2px solid white;
}
/*APPARENTLY to fix the padding problem, you must set the padding with a width in place, then drop the width to something really low and incrimentally go up until you get to the width of the image, because that makes sense.*/