.container {
  font-family: sans-serif;
}
.tech {
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #343738;
}
h4 {
	margin: 15px 0px;
}
h5 {
  text-transform: uppercase;
	font-size: 18px;
  font-weight: 700;
  color: #000;
}
.footer {
  background-color: #343738;
  margin-top: 15px;
}
.story {
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 30px
}
h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}
p {
  text-transform: capitalize;
  font-weight: 100;
  color: #fff;
  line-height: 1;
  margin-top: -10px;
}
hr {
  margin-top: -1px;
}
