.container {
	width: 80%;
	margin: 0 auto;
}
h4 {
	float: left;
}
nav {
	float: right;
}
.clear-fix:after {
    content:'';
    display:block;
    clear:both;
}
#hero {
	margin: 0 auto;
	background-image: url(../img/hqdefault.jpg);
	background-repeat: no-repeat;
	background-size: 600px 420px;
	height: 330px;
	width: 605px;
}
h1 {
	text-align: center;
	padding-top: 100px;
	font-size: 45px;/*Needs new font*/
	color: white;
	text-shadow: 3px 1px 1px black;
}
h5 {
	color: white;
	text-align: center;
	text-shadow: 3px 1px 1px black;
	padding-top: 30px;
	font-size: 20px;
}
.logo{
	width: 250px;
	float: left;
}
#history {
	float: left;
	width: 400px;
	margin: 60px 10px 30px 30px;
}
h3 {
	font-size: 25px;
	margin-bottom: 10px;
}