body {
    font-family: 'Droid Serif', serif;
    background-color: #c2c2c2;
}
#hero {
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.4) 0%, rgba(0,0,0,0.3) 80%), url('../img/img_34471.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo {
    transform: scale(2,3);
    padding: 250px 400px;
}
.main {
    margin-top: 50px;
}
#menu {
    background-color: #d9d9d9;
}
h3 {
    font-weight: 600;
}
.north {
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.5) 0%, rgba(0,0,0,0.4) 100%), url('../img/shop4outsidethumb_north.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}
.central {
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.5) 0%, rgba(0,0,0,0.4) 40%), url('../img/shop1outsidethumb_central.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}
.south {
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.4) 0%, rgba(0,0,0,0.3) 40%), url('../img/shop3outsidethumb_south.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}
h6 {
    padding-top: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.address {
    color: #d4d3d3;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.white-text {
    color: #fff;
    line-height: 1.5;
}
.shop-text {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#shop {
    border: 1px solid #CC0001;
}
.map {
    border: 0;
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#shop {
    background-color: #CC0001;
}
.shirt {
    height: 192px;
    margin-top: 15px;
}
.hat {
    height: 192px;
}
#history {
    background-color: #CC0001;
}
h5 {
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 5px #000;
    padding-top: 15px;
}
#social-media a {
    color: #000;
    font-size: 25px;
    border: 2px groove black;
    border-radius: 5px;
    font-weight:600;
    text-decoration: none;
    background:  linear-gradient(to bottom, rgba(20,20,20,0.2) 0%, rgba(0,0,0,0.1) 50%), #fff;
    padding: 2px 4px;
}
#social-media {
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.7) 0%, rgba(0,0,0,0.5) 100%), url('../img/characters color_flat_copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 991px) and (min-width: 768px) {
    .logo {
        transform: scale(1.5,1.5);
        padding: 150px 200px;
    }
}
@media (max-width: 766px) {
    .legendary {
        border-top: 1px solid #000;
    }
    .logo {
        transform: scale(1,1);
        padding: 150px 10%;
    }
    .shirt {
        height: 160px;
    }
    .hat {
        height: 160px;
    }
    .social-text {
        font-size: 23px;
    }
}
